{% extends 'base.html.twig' %}

{% block title %}Edit Conteneur{% endblock %}

{% block body %}
    <h1>Edit Conteneur</h1>

    {{ include('conteneur/_form.html.twig', {'button_label': 'Ajuster'}) }}

    <a href="{{ path('app_conteneur_index') }}">Retour</a>




{% endblock %}
