{% extends 'base.html.twig' %}

{% block title %}Déplacer un Conteneur{% endblock %}

{% block body %}


    <div class="container mt-4">
        <div class="row align-items-center justify-content-center">

                <div class="card-sl col-12 p-0">
                    <div class="card-heading text-center">
                        <div class="row align-items-center justify-content-center">
                            <img class="col-3" src="{{ asset('img/separator.svg') }}">
                            <h1 class="text-center">Déplacer un Conteneur</h1>
                            <img class="col-3" src="{{ asset('img/separator.svg') }}">
                        </div>
                    </div>

                    <div class="card-image border border-white">

                        <img
                                class="p-5"    alt="logo" src="{{ asset("img/logo.svg") }}"/>

                    </div>


                    <div class="card-text text-center p-0">

                        <form class="row m-0 justify-content-center wrap">
                            <label  class="col-4 mt-3 w-100 " for="codeConteneur"> Sélectionner/Scanner un code Conteneur</label>
                            <input class="col-4 mt-3" id="codeConteneur" onblur="test()" type="text">

                            <div class="col-12 m-3">
                                <button class="card-button mt-3 border-0" type="button" style="width:20%; border-radius: 8px 8px; margin:1px auto;" onclick="codeConteneurControl()">Valider</button>
                            </div>
                        </form>

                    </div>

                </div>
        </div>
    </div>






    <script>
        //Récupérer l'input
        let input = document.getElementById("codeConteneur");

        //Focus sur l'input
        input.focus();

        // fonction pour valider l'existence de l'adresse dans la base de donnée via une API
        function codeConteneurControl() {


            if (input.value) {
                //Lancer le fetch sur l'URL de l'API
                fetch(window.location.origin + '/conteneur/json/' + input.value)
                    .then(result => result.json())
                    .then(data => {

                            // S'il n'y a pas de donnée dans l'API renvoyer un message d'erreur
                            if (!data) {
                                alert("Le Conteneur " + input.value + " n'existe pas.");
                            }
                            // Sinon renvoyer vers le lien
                            else
                                window.location.href = window.location.href + '/' + data[0].idConteneur;
                        }
                    )
            } else {
                input.focus();
            }
        }

    </script>

{% endblock %}
