{% extends 'base.html.twig' %}

{% block title %}Conteneur Select{% endblock %}

{% block body %}
    <h1>Conteneur Select</h1>
    <label> Selection/Scanner un code Conteneur</label>

    <form>
        <input id="codeConteneur" onblur="test()" type="text">
        <button type="button" onclick="codeConteneurControl()">Valider</button>
    </form>

    <script>
        //Récupérer l'input
        let input = document.getElementById("codeConteneur");

        //Focus sur l'input
        input.focus();

        // fonction pour valider l'existence de l'adresse dans la base de donnée via une API
        function codeConteneurControl() {


            if (input.value) {
                //Lancer le fetch sur l'URL de l'API
                fetch(window.location.origin + '/conteneur/json/' + input.value)
                    .then(result => result.json())
                    .then(data => {

                            // S'il n'y a pas de donnée dans l'API renvoyer un message d'erreur
                            if (!data) {
                                alert("Le Conteneur " + input.value + " n'existe pas.");
                            }
                            // Sinon renvoyer vers le lien
                            else
                                window.location.href = window.location.href + '/' + data[0].idConteneur;
                        }
                    )
            } else {
                input.focus();
            }
        }

    </script>

{% endblock %}
