

<body style="margin: 20px auto; border: dashed black 1px ; text-align: center">
<div >

<h2>{{ conteneur.codeConteneur }}</h2>
<h2>{{ conteneur.idProduit.partNumber }} - {{ conteneur.idProduit.denomination }}</h2>
</div>
</body>