{% extends 'base.html.twig' %}

{% block title %}Commande a préparer{% endblock %}

{% block body %}
    <h1>Commande a préparer</h1>

    <form name="commandeSelect">
        <label> Selection une commande</label>
        <select id="selectCommande">
            {%for commande in commandes  %}
            <option value="{{ commande.id }}" > {{ commande.numeroCommande }} </option>
            {%endfor  %}
        </select>
    </form>
        <button type="button" onclick="preparer()"> Lancer la préparation</button>


<script>
 function preparer (){
     let input = document.getElementById("selectCommande").value
     window.location.href = window.location.href+ '/'+input;
 }
</script>

{% endblock %}
