

a {
    text-decoration: none;
}



.card-sl {
    margin-top: 3vh;
    border-radius: 0 0 8px 8px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.card-image img {
    width: 100%;
    height: 15vw;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
}

.card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #E26D5C;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
    color: #fff;
    background: #E26D5C;
    -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
}

.card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
    border-radius: 0 0 8px 8px ;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: rgb(168,146,125);
    color: #fff;
    border-radius: 0 0 8px 8px;
}
.border-none {
    border: none;
}

.card-button-supprimer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #880303;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

.card-button-supprimer:hover {
    text-decoration: none;
    background-color: #a82727;
    color: #fff;

}

.card-button:hover {
    text-decoration: none;
    background-color:rgb(56,57,61);
    color:rgb(225,113,65);
}

.card-button-bis {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(77, 131, 135, 1);
    color: #fff;
    border-radius: 8px 8px 0 0;
}

.card-button-bis:hover {
    text-decoration: none;
    background-color:rgb(225,113,65);
    color:rgb(56,57,61);
}


@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }

    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}


/*premier step size*/
@media screen and (max-width: 1200px) {

    .card-sl {
        font-size: 0.75em;
         }

   }

/*premier step size*/
@media screen and (max-width: 1000px) {

    .card-sl {
        font-size: 0.6em;
        word-wrap: break-word;
    }

}




