
.table thead th {
    border-bottom: 2px solid #E26D5C;
    background-color: rgba(226, 109, 92, 0.27);

}

.table tbody tr {
    border-left: 10px solid rgba(77, 131, 135, 1);
}

.table thead th:first-child {
    border-left: 10px solid #E26D5C;
}

.table>:not(:first-child) {
    border-top: none;
}
tbody {
    display: block;
    height: 30vh;
    border-color: rgba(77, 131, 135, 1);
    overflow: auto;

}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/*Normal size*/

.table thead th {
    font-size: 1em;
}

.table tbody td {
    font-size: 1em;
}

/*premier step size*/
@media screen and (max-width: 1200px) {

    .table thead th {
        font-size: 0.75em;
        padding-left: 0.1em;
    }

    .table tbody td {
        font-size: 0.75em;
        padding-left: 0.1em;
    }}

/*second step size*/
@media screen and (max-width: 800px) {

    .table thead th {
        font-size: 0.5em;
        padding-left: 0.1em;
    }

    .table tbody td {
        font-size: 0.5em;
        padding-left: 0.1em;
    }}


/*troisieme step size*/
@media screen and (max-width: 500px) {

    .table thead th {
        font-size: 0.4em;
        padding-left: 0.1em;
    }

    .table tbody td {
        font-size: 0.4em;
        padding-left: 0.1em;
    }}



