<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg mb-1" style="background-color: transparent; margin-top:20vh; font-size:small;">
    <div class="container">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
                aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav row align-items-center justify-content-between col-12">

                <li class="nav-item col-4 ">
                    <p  class="text-right"> Téléphone : 06.89.29.56.67 </p>
                    <p  class="text-right"> Email : contact-logistock@logistock.fr</p>
                </li>

                <li class="nav-item col-4 text-center">
                    <span> Copyright 2022 LogiStock </span>
                </li>

                <li class="nav-item col-4 d-flex justify-content-end p-0">
                    <img alt="logo" src="{{ asset("img/logo.svg") }}" width="15%">
                </li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
