{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center">
        <div class="row justify-content-center">
            <img class="col-3" src="{{ asset('img/separator.svg') }}">
            <h1 >La page demandée est introuvable. </h1>
            <img class="col-3" src="{{ asset('img/separator.svg') }}">

            <h2>
                <a href="{{ path('app_main') }}">Retour à l'accueil </a>
            </h2>

        </div>
    </div>
{% endblock %}